<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262293506219-qls1co2tutdhc29ls14voivtiir8bntk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262293506219-qls1co2tutdhc29ls14voivtiir8bntk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262293506219-8hjhraji7nmbv6nr0unuihtjbdf0k9d8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxn4LvlJ54WzM-gkSKFQIJcwf4s0H3m8M</string>
	<key>GCM_SENDER_ID</key>
	<string>262293506219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>madad.advice4business</string>
	<key>PROJECT_ID</key>
	<string>madadadvice4business</string>
	<key>STORAGE_BUCKET</key>
	<string>madadadvice4business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262293506219:ios:068675ac4fd188fe998fee</string>
	<key>DATABASE_URL</key>
	<string>https://madadadvice4business.firebaseio.com</string>
</dict>
</plist>